@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
html {
  background: #0a192f;
  overflow-y: scroll; 
}


body {
  font-family: 'Space Mono', monospace;
  color: #64ffda;
	font-weight: 400;
	max-width: 28em;
  padding: 1em;
  margin: 0% 0;
  
}
p{
  font-size: .85em;
  margin-bottom:1em;
}
span{
  margin-bottom: 2em;
  display: block;
  color:#999999;
  line-height:1;
}
/*Skip Text*/
#inputWrapper { 
  position: absolute; 
  top:.5%;
  left:.75%;
} 
 input[id = "skipInput"]{
   
  max-width: 15em;
  border: none;
  font-family: inherit;
  background: #0a192f;
  color: #999999;
  padding:0 .5em;
}
input[id = "skipInput"]:focus{
  max-width: 15em;
  border: none;
  font-family: inherit;
  background: #0a192f;
  color: #999999;
  padding:0 .5em;
}


/*CMD Line*/
input[id = "cmdInput"]{

  max-width: 10em;
  border: none;
  font-family: inherit;
  background: #0a192f;
  color: #999999;
  padding:0 .5em;
}
input[id = "cmdInput"]:focus{
  background: #0a192f;
  color: #999999;
  outline:none;
}
.command{
  font-size: .85em;
  display: block;
  max-width: 35em;
  color: #999999;
  font-weight: 700;
  margin: 2em 0;
}
/*Welcome Animation*/
h1{
  font-weight: 100;
  line-height: 1;
  letter-spacing: -0.5;

}
.welcome{
  color:#64ffda;
  font: inherit;
  font-size: 1.2em;
  color:#64ffda;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: -2;
}


section{
  display: none;
}
.open{
  display: block;
}



.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #0a192f;
  z-index: -1;
}
.infront
{
  z-index: 3;
}
.behind
{
  z-index: -6
}

/* Navbar */
#navWrapper 
{
  position: absolute;
  font-size: 20px;
  top: 4%;
  left:21%;
  z-index: -2;
}

nav{
  display:flex;
  justify-content: space-around;
}
.links{
  
  display: flex;
  height: 50px;
  justify-content: space-around;
  width: 50em;
}
.links a{
  color: rgb(204, 214, 246);
  text-decoration: none;
  letter-spacing: 3px;
}
.nonLogo{
  align-content: center;
  list-style: none;
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(100, 255, 218);
  border-radius: 3px;
  padding: 0.75rem 1rem;
  opacity: 80%;
}
.nonLogo:hover{
  opacity: 100%;
  

}
.logo
{
  opacity: 90%;
  position: relative;
  top: -60%;
  padding-left: 0%;
  list-style: none;
}
.logo:hover{
  opacity: 100%;
}


/*Body*/
#body
{
  font-weight: 200;
}
.hello{
  position: absolute;
  color: rgb(100, 255, 218);
  font-size: 30px;
  top:25%;
  left:50%;
  transform: translate(-50%);
  z-index: -2;
}
.intro{
  text-align: center;
  position: absolute;
  color: rgb(230, 241, 255);
  font-size: 50px;
  top:30%;
  left:50%;
  transform: translate(-50%);
  z-index: -2;
  
}
.intro2
{
  text-align: center;
  position: absolute;
  color: rgb(136, 146, 176);
  font-size: 30px;
  top:60%;
  left:50%;
  transform: translate(-50%);
}



