@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
html{
  background: #0B132B;
  overflow-y: scroll; 
  width:100%;
  height:100%;
  margin:0;
}
body {
  font-family: 'Space Mono', monospace;
  color: #64ffda;
	font-weight: 400;
	max-width: 28em;
  padding: 1em;
  margin: 0% 0;
  font-size: 1rem;
  
}
#experience{
  position: absolute;
  top:25%;
  left:25%;
  right: 25%;
 
}
.xpList{
  list-style-type: square;
  font-weight: 200; 
  height: 35rem;
 
}
.inList li{
  color: rgb(136, 146, 176);
}
p{
  font-size: 1em;
  margin-bottom:1em;
}
@media only screen and (max-width: 420px)
{
  body {
    font-family: 'Space Mono', monospace;
    color: #64ffda;
    font-weight: 400;
    max-width: 28em;
    padding: 1em;
    margin: 0% 0;
    font-size: 1.23em;
  }

}
@media only screen and (max-height: 590px)
{
  body {
    font-family: 'Space Mono', monospace;
    color: #64ffda;
    font-weight: 400;
    max-width: 28em;
    padding: 1em;
    margin: 0% 0;
    font-size: 1.15em;
  }

}

/* Navbar */
#navWrapper 
{
  display: block;
  position: absolute;
  font-size: 1.25em;
  height:10em;
  top: 0;
  left:10%;
  right:10%;
  z-index: 0;
  
}

nav{
  display:flex;
  justify-content: space-around;
  
}
.links{
  position: absolute;
  display: flex;
  top:25%;
  height: 50px;
  justify-content: space-around;
  width: 50em;
  padding: 0;
}
.links a{
  color: rgb(204, 214, 246);
  text-decoration: none;
  letter-spacing: 3px;
}
.nonLogo{
  align-content: center;
  list-style: none;
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  margin-left: 0px;
  font-size: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(100, 255, 218);
  border-radius: 3px;
  padding: 0.75rem 1rem;
  opacity: 80%;
}
.nonLogo:hover{
  opacity: 100%;
}
/*New Page*/
.logo
{
  opacity: 90%;
  position: relative;
  top: -60%;
  padding-left: 0%;
  list-style: none;
}
.logo:hover{
  opacity: 100%;
}

#body
{
  font-weight: 200; 
  height: 35rem;
  top:25%;
  position: absolute;
  left:25%;
  right: 25%;
  
  text-align: center;
  z-index: -2;

}
.hello{
  color: rgb(100, 255, 218);
  font-size: 2em;
  margin:.12em;
}
.intro{
  text-align: center;
  color: rgb(230, 241, 255);
  font-size: 2em;
  margin: .5em;
}
.intro2
{
  text-align: center;
  color: rgb(136, 146, 176);
  font-size: 2em;
  margin: 1em;
 
}
@media only screen and (max-width: 1200px)
{
  #body{
    width: 100%;
    position: absolute;
    z-index: -3;
    left:0%;
  }
  .intro{
    text-align: center;
    color: rgb(230, 241, 255);
    font-size: 2.75em;
    margin: .25em;
  }
  .intro2
  {
    text-align: center;
    color: rgb(136, 146, 176);
    font-size: 1.75em;
    margin: .5em;
   
  }

}
@media only screen and (max-width: 890px)
{

  .intro{
    text-align: center;
    color: rgb(230, 241, 255);
    font-size: 2.25em;
    margin: .25em;
  }
  .intro2
  {
    text-align: center;
    color: rgb(136, 146, 176);
    font-size: 1.5em;
    margin: .5em;
   
  }

}
#hamburger{
  display: none;
}
#logo2{
  display: none;
}
#navHam{
  display: none;
}



@media only screen and (max-width: 625px)
{
  body{
    height: 0;
  }
  nav{
    display: none;
  }

  #logo2{
    display: block;
    position: absolute;
    top:3%;
    left:0;
  }
  #hamburger{
    display:block;
    position: absolute;
    top:16%;
    right: 0; 
    z-index: 21;   
  }
  .hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding:0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
  }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #64ffda;
    right: 1%;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #64ffda;
}
  /*Mobile Nav Bar*/
#navHam
{
  position: absolute;
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;
  margin-top: 1em;
  display:block;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  
}
#navHam ul{
  display: block;
  list-style-type: none;
  padding: 0;
}
#navHam a{
  font-size: .85em;
}
#navHam.active{
  opacity: 1;
  visibility:visible;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  background-color: #0A192F;

}
.hamLinks a{
  color: #64ffda;
  text-decoration: none;
}
.hamList{
  align-content: center;
  list-style: none;
  background-color: transparent;
  line-height: 3;
  cursor: pointer;
  margin: 0;
  font-size: 1em;
  opacity: 80%;
  padding: 0;
}
.hamList:hover{
  opacity: 100%;
}

#body{
  position: absolute;
  z-index: -2;
  top:30%;
}

.hello{
  color: rgb(100, 255, 218);
  font-size: 1.2em;
  margin:.06em;
}
.intro{
  text-align: center;
  color: rgb(230, 241, 255);
  font-size: 1.2em;
  margin: .25em;
}
.intro2
{
  text-align: center;
  color: rgb(136, 146, 176);
  font-size: 1.2em;
  margin: .5em;
  
}

}


